* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Manjari', sans-serif;
  overflow: hidden;
  position: fixed;
  min-height: -webkit-fill-available;
  font-size: 13px;
}

body {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}


button {
  border: none;
  background: unset;
  cursor: pointer;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Manjari', sans-serif;
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.swipeIcon {
  transform: rotate(360deg);
}

.swipePage {
  opacity: 0 !important;
}

.increaseIcon {
  transform: scale(1.5);
}


/*------------------------THEMES--------------------------:*/

/*FOREST:*/

.Forest, .Forest .bg-theme {
  background-color: #007B89;
}

.Forest ._small-part {
  background-color: #007B89;
}

.Forest .item-theme, .Forest .completed {
  background: #009a99; /* Old browsers */
  background: -moz-linear-gradient(left, #009a99 0%, #00bab3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #009a99 0%, #00bab3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #009a99 0%, #00bab3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009a99', endColorstr='#00bab3', GradientType=1); /* IE6-9 */

}


/*SEA:*/

.Sea, .Sea .bg-theme {
  background-color: rgba(105, 92, 76, 1);
}

.Sea ._small-part {
  background-color: rgba(105, 92, 76, 1);
}

.Sea .item-theme, .Sea .completed {
  background-color: #51412F;
}


/*Space:*/

.Space, .Space .bg-theme {
  background-color: #485f6f;
}

.Space ._small-part {
  background-color: #485f6f;
}

.Space .item-theme, .Space .completed {
  background: rgb(70, 84, 132);
  background: linear-gradient(90deg, rgba(70, 84, 132, 1) 0%, rgba(79, 168, 210, 1) 100%);
}




